.card{
   text-align: center;
}
h1{
   text-align: center;
   color: white;
   text-shadow: 0px 10px 10px rgb(48, 161, 146);
   
}
h2{
   color: white;
   text-shadow: 0px 10px 10px rgb(48, 161, 146);
}
h3{
   color: white;
   text-shadow: 0px 10px 10px rgb(48, 161, 146);
}
#pic{
   border-radius: 50%;
   background-color: rgb(40, 104, 104);
   border: 2px solid;
box-shadow: 0px 10px 10px rgb(48, 161, 146);
  
}
.ico{
   text-align: center;
   color: rgb(157, 204, 212);
}
body{
   background-image: linear-gradient(to right, rgb(109, 67, 95) ,rgb(14, 13, 73));
}
hr{
   width: 10%;
}